@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.App {
  text-align: center;
}

.Weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding-top: 5rem;
}
.Cities {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.CityWeather {
  border: 2px solid black;
  border-radius: 80px;
  margin-top: 2vh;
  padding: 2em;
  text-align: left;
  margin: 2rem auto 0;
  width: 400px;
  font-weight: bold;
  cursor: grabbing;
}

.CityWeather .close {
  width: 30px;
  height: 30px;
  float: right;
  margin-top: -9rem;
  margin-right: 0rem;
  border: 2px solid #000;
  border-radius: 50px;
  font-size: 1rem;
  line-height: 1rem;
  cursor: pointer;
}

.CityWeather .close:hover,
.CityWeather .close:focus {
  color: #f44336;
  cursor: pointer;
}

.CityWeather .Link {
  font-size: 2rem;
  color: #000;
  text-decoration: none;
  display: flex;
}
.CityWeather .Link:hover {
  border-bottom: 5px solid black;
  width: 75%;
}
.CityWeather .Link .link-icon {
  position: relative;
  width: 35px;
  height: 35px;
  background: #f8f8ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;

  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.forecast h1 {
  background-color: #d6dbdf;
  width: 320px;
  padding: 30px 60px;
  margin: 25px auto 10px;
  text-align: center;
}
.forecast h2 {
  margin-left: 4rem;
}
.forecast .back {
  border-radius: 12px;
  border: 3px outset #888;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(0, 0, 0, 1);
  font-size: 10px;
  font-weight: bolder;
  text-decoration: none;
  background: linear-gradient(160deg, #666, #444);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}
.landing-wrapper {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top left;
  height: 670px;
}
.search {
  width: 30%;
  margin-bottom: auto;
  margin-top: 20px;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 20px;
  transition: width 0.4s linear;
}
.search .search-input {
  padding: 0 10px;
  width: 100%;
  caret-color: #536bf6;
  font-size: 15px;
  font-weight: 250;
  color: black;
  transition: width 0.4s linear;
}

.search-icon {
  height: 34px;
  width: 55px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #536bf6;
  font-size: 12px;
  bottom: 26px;
  position: relative;
  border-radius: 8px;
}

.search-icon:hover {
  color: #fff !important;
}
/* start Footer */
.footer {
  width: 75%;
  padding: 25px 10px 25px;
  text-align: center;
  margin: auto;
  border-top: 1px solid #ccc;
  color: #9d9d9d;
  font-size: 16px;
}

.footer a {
  color: #ccc;
}

/* Small devices (portrait tablets and large phones, 640px and up) */
@media only screen and (min-width: 640px) {
  .landing-wrapper {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .landing-wrapper {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top left;
  }
}
